<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

<!--    android:icon="@mipmap/app_logo_super_big_foreground"-->
<!--    android:roundIcon="@mipmap/app_logo_super_big_foreground"-->

    <application
        android:name=".DigiHealthLockerApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo_big"
        android:roundIcon="@mipmap/app_logo_big"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigiHealthLocker"
        tools:targetApi="31">
        <activity
            android:name=".RegisterUserActivity"
            android:exported="false"
            android:theme="@style/Theme.DigiHealthLocker"
            />
        <activity
            android:name=".LoginUserActivity"
            android:exported="false"
            android:theme="@style/Theme.DigiHealthLocker"
            />
        <activity
            android:name=".UserAuthenticationActivity"
            android:exported="false"
            android:theme="@style/Theme.DigiHealthLocker" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.DigiHealthLocker" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.DigiHealthLocker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DigiHealthLockerMainActivity"
            android:exported="true"
            android:theme="@style/Theme.DigiHealthLocker" />
    </application>

</manifest>